extends layout

-var page = 'Home'


mixin imageItem(link, img, description, likes)
  li
    a(href=link, target='blank')
      .background-image-holder
        img.background-image(alt=likes + ' Likes', src=img)

mixin twitterItem(link, avatar, username, userscreen, tweet)
  .col-sm-4.twitter-item
    p.tweet(style="font-size: 18px;")!=twitterText(tweet)

mixin youtubeItem(id)
  .col-md-6.col-sm-6.mb-xs-30.mb24
    .embed-video-container.embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + id + "?showinfo=0&rel=0&modestbranding=1")

block content

  section.pt120.pb120.image-bg.overlay.parallax
    .overlay
    .background-image-holder
      img.background-image(alt="Background", src="/img/bg-video-triangle.png")
    .container
      .row.v-align-children
        h2.mb0
          | Our Great Members
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/bxxcclan")
            i.fa.fa-twitter
        li
          a(href="https://instagram.com/bxxcclan")
            i.fa.fa-instagram
        li
          a(href="https://www.youtube.com/user/bxxcclan")
            i.fa.fa-youtube

  section.bg-dark
    .container
      .row
        each m, i in data
          .col-sm-4.text-center
            .feature.boxed.cast-shadow-light
              img.image-small.inline-block.mb24.img-circle(alt="Pic", src=m.Profile.GameDisplayPicRaw, style="min-width: 80px;")
              h4.mb0= m.Profile.Gamertag
              h5= 'G ' + m.Profile.Gamerscore
              a.btn.btn-lg.mb0(href='/member/' + m.GamertagSlug) View Profile
