extends layout

-var page = 'Home'


mixin imageItem(link, img, description, likes)
  li
    a(href=link, target='blank')
      .background-image-holder
        img.background-image(alt=likes + ' Likes', src=img)

mixin twitterItem(link, avatar, username, userscreen, tweet)  
  .col-sm-4.twitter-item
    p.tweet(style="font-size: 18px;")!=twitterText(tweet)

mixin youtubeItem(id)
  .col-md-6.col-sm-6.mb-xs-30.mb24
    .embed-video-container.embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + id + "?showinfo=0&rel=0&modestbranding=1")

block content

  section.image-bg.overlay.parallax
    .overlay
    .background-image-holder
      img.background-image(alt="Background", src="/img/bg-video-triangle.png")
    .container
      .row.v-align-children
        h2.mb0= data.Profile.Gamertag
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/bxxcclan")
            i.fa.fa-twitter
        li
          a(href="https://www.facebook.com/bxxcclan")
            i.fa.fa-facebook
        li
          a(href="https://instagram.com/bxxcclan")
            i.fa.fa-instagram
        li
          a(href="https://www.youtube.com/user/bxxcclan")
            i.fa.fa-youtube
  
  if data.SavedGameClips.length > 0            
    section.bg-dark
      .container
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              .pull-left
                h4
                  i.fa.fa-film.icon.icon-sm
              .pull-left.ml10
                h4 Latest Game Captures
        .row
          if data.SavedGameClips
            each v, i in data.SavedGameClips
              .col-md-6.col-sm-6.masonry-item.project()
                .image-tile.inner-title.hover-reveal.text-center
                  a(href=v.gameClipUris[0].uri, target='blank')
                    img(alt="Background Image", src=v.thumbnails[1].uri)
                    .play-button
                    .title
                      h5.uppercase.mb0= v.titleName
                      span= v.clipName

  if data.Screenshots.length > 0 
    section.bg-dark
      .container
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              .pull-left
                h4
                  i.fa.fa-photo.icon.icon-sm
              .pull-left.ml10
                h4 Latest Screenshots
                  
        .row
            each s, i in data.Screenshots
              .col-md-6.col-sm-6.masonry-item.project()
                .image-tile.inner-title.hover-reveal.text-center
                  a(href=s.thumbnails[1].uri, target='blank')
                    img(alt="Background Image", src=s.thumbnails[1].uri)
                    .title
                      h5.uppercase.mb0= s.titleName
                      span= s.clipName
